SECRET_KEY="eyJwdWJpZCI6ImY1MjNhYmY2LTc3Y2EtNGIwYy1iNzg3LWNkNzdkMWNlYzlkMCIsImV4cCI6MTY1NDg1NDIyMX"
FLASK_ENV="development"
SQLALCHEMY_TRACK_MODIFICATIONS="False"
DATABASE_HOST="localhost"
DATABASE_NAME="flask_db"
DATABASE_USERNAME="nourou"
DATABASE_PASSWORD="nourou"
