Flask
Flask-marshmallow
Flask-RESTful
Flask-login
Flask-SQLAlchemy
ipdb
ipython
black
flake8
PyJWT
marshmallow
marshmallow-sqlalchemy
pyzmq
SQLAlchemy
python-dotenv
pip-tools
psycopg2-binary
flask-bcrypt
